{
	"printWidth": 180,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": false,
	"vueIndentScriptAndStyle": true,
	"jsxBracketSameLine": true,
	"bracketSameLine": true,
	"proseWrap": "never"
}